NODE_ENV=development
TZ=Asia/Riyadh
WAQFA_APP_URL=http://localhost:3100
WAQFA_LANDING_URL=http://localhost:3101
WAQFA_POCKETBASE_URL=http://Dev-Backend:8090
WAQFA_POCKETBASE_PUBLIC_URL=http://localhost:8090
WAQFA_DOCKER_NETWORK=Network_Dev
